body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

label.error {
	margin-left: 10px;
	width: auto;
	display: inline;
}

#portfolio img
{
    height: 140px;
    width: 140px;
    text-align: center;
    float: left;
    margin: 5px;
}