body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

#portfolio img {
    height: 140px;
    width: 140px;
    text-align: center;
    float: left;
    margin: 5px;
}

    #portfolio .inactive {
        filter: alpha(opacity=40);
        opacity: 0.4;
    }

/*.date {
    background-color: #f8f8f8;
    display: block;
    width: 60px;
    height: 60px;
    float: left;
    margin: 15px 2px 0 -108px;
    padding: 0 0 8px 0px;
    border: 0;
    text-transform: uppercase;
}

.date_month {
   display: block;
    font-size: 28px;
    font-weight: bold;
    margin-top: -8px;
    text-align: center;
    color: #555555;
}

.date_year {
    display: block;
    font-size: 10px;
    margin-top: -8px;
    text-align: center;
    color: #e7e7e7;
}*/

.date {
    background-color: #f8f8f8;
    display: block;
    width: 60px;
    height: 60px;
    /*float: left;
    margin: 15px 2px 0 -108px;*/
    padding: 0 0 8px 0px;
    border: 0;
    text-transform: uppercase;
}

.date_month {
    display: block;
    font-size: 28px;
    font-weight: bold;
    margin-top: -8px;
    text-align: center;
    color: #282828; /* Day's color */
}

.date_year {
    display: block;
    font-size: 10px;
    margin-top: -8px;
    text-align: center;
    color: #282828; /* Year's color */
}
