/*!
 * Joshua Blackstone
 * http://joshuablackstone.github.io
 */

.navbar-default{
  background-color: #00a8ff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav > li > a, 
.navbar-default .navbar-nav > li.active a,
.navbar-default .navbar-brand
{
    background-color: #00a8ff;
    color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li.active a:hover
 {
    background-color: #00a8ff;
     color: #FFF;
      opacity: 0.6;
}

.navbar-inverse{
  background-color: #fff;
  border-style: none;
}

.navbar-inverse .navbar-nav > li > a, 
.navbar-inverse .navbar-nav > li.active a,
.navbar-inverse .navbar-brand
{
     background-color: #fff;
    color: #00a8ff;
}

.navbar-inverse .navbar-nav > li > a:hover, 
.navbar-inverse .navbar-nav > li > a:focus, 
.navbar-inverse .navbar-brand:hover, 
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li.active a:hover
 {
   color: #00a8ff;
   opacity: 0.6;
    background-color: #fff;
}

